---
redirect_from: /index.php/
---
{% include header.htm %}

<body>
&nbsp;

{% include nav.htm %}

<div class="column-B">

    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="./"><img alt="home" src="images/Logo.png"></a>
    </div>

    <div class="content-B">

	<h1 style="text-align:center;">Tales of Vesperia: Definitive Edition Announced</h1>

	<br />
	<p>Bandai Namco Entertainment has recently announced Tales of Vesperia: Definitive Edition for Steam, PlayStation 4, Xbox One, and Nintendo Switch. It will be released worldwide and is going to feature the formerly PS3 exclusive content.</p>
	<br />
	<p>You can read the official press releases <a href="https://www.bandainamcoent.com/news/tales-of-vesperia-definitive-edition-announced-for-xbox-one-ps4-switch-and-pc">here</a> and <a href="https://en.bandainamcoent.eu/tales-of/news/tales-of-vesperia-definitive-edition-announced">here</a>.</p>
	<br />
	<p>As such, we have decided to withdraw our fan translation patch. This translation was always intended to allow the English speaking Tales fanbase to fully enjoy the PS3 exclusive Vesperia content, and it has served this purpose well for a few years now. But with this announcement it is no longer necessary, so we are no longer going to distribute the patch.</p>
	<p>If you are distributing this patch yourself, we would appreciate if you respected this decision and stopped doing so. Thank you.</p>
	<p>If you want to play Tales of Vesperia with the PS3 content, please buy and support the official release of the Definitive Edition this Winter.</p>

    </div>

</div>


<div class="rotator">
    <img src="images/Rita.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Vesperia PS3 Fan Translation website.</p><p>A Definitive Edition of this game containing the PS3 content has been announced for Steam, Switch, PS4 and Xbox One. If you want to play this content, please buy the Definitive Edition and support the original developers.</p>
    </div>
</div>
</body>
</html>
