---
redirect_from: /index.php/
---
{% include header.htm %}

<body>
&nbsp;

{% include nav.htm %}

<div class="column-B">

    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="./"><img alt="home" src="images/Logo.png"></a>
    </div>

    <div class="content-B">

	<h1 style="text-align:center;">Tales of Vesperia Translation Now Available For Download</h1>

	<h2>Patch information</h2>

	<p>If you have the means to run homebrew on your PS3, you can download a tool to patch your game files so that you can play the game in English. Please <a href="https://github.com/AdmiralCurtiss/ToVPatcher/blob/master/README.md">read the included readme carefully</a>, as it contains information on how to properly apply and run the patch.</p>
 
 	<h2>Disclaimer</h2>

	<p>Since there are websites out there trying to trick you into installing malware, let me state here that <b>as of the release of this patch, there is no known software exploit to run homebrew on or downgrade a console that has been updated past firmware version 3.55. Do not attempt to downgrade consoles on higher firmware versions!</b> </p><p>We cannot take responsibility for anything you may choose to do or install in the process of acquiring homebrew functionality for your PS3. Please do not try to modify your PS3 unless you are fully aware of and understand the consequences and possible risks. </p>
 
	<p>If you understand the above, please download the patch via the button below.</p>


	<p style="text-align:center;"><a href="downloads/ToVPatcher-1.0.zip"><img src="images/Patch.png" /></a></p>
    <h2 style="text-align:center;"><a href="http://hyouta.com/vesperia/">No Patching Online Translation</a></h2><br/>

 	<h2>Issues, Bugs, and Troubleshooting</h2>

	<p>If you are having trouble installing the patch or run into any issues with the patched game itself, please read our <a href="faq.htm">F.A.Q.</a>. If the answers are not there, please ask on <a href="https://discord.gg/wWdnduP">Discord</a>.</p>

	<p>If you find any errors or bugs, even minor ones like typos, please report them on <a href="https://discord.gg/wWdnduP">Discord</a>.</p>

	</div>

</div>


<div class="rotator">
    <img src="images/Rita.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Vesperia PS3 Fan Translation website.</p><p>A Definitive Edition of this game containing the PS3 content has been announced for Steam, Switch, PS4 and Xbox One. If you want to play this content, please buy the Definitive Edition and support the original developers.</p>
    </div>
</div>
</body>
</html>
