---
redirect_from: /index.php/
---
{% include header.htm %}

<body>
&nbsp;

{% include nav.htm %}

<div class="column-B">

    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="./"><img alt="home" src="images/Logo.png"></a>
    </div>

    <div class="content-B">

	<h1 style="text-align:center;">Tales of Vesperia Translation Now Available For Download</h1>

	<h2>Patch information</h2>

	<p>If you have the means to run homebrew on your PS3, you can download a tool to patch your game files so that you can play the game in English. Please <a href="https://github.com/AdmiralCurtiss/ToVPatcher/blob/master/README.md">read the included readme carefully</a>, as it contains information on how to properly apply and run the patch.</p>
 
 	<h2>Disclaimer</h2>

	<p>Since there are websites out there trying to trick you into installing malware, let me state here that <b>as of the release of this patch, there is no known software exploit to run homebrew on or downgrade a console that has been updated past firmware version 3.55. Do not attempt to downgrade consoles on higher firmware versions!</b> </p><p>We cannot take responsibility for anything you may choose to do or install in the process of acquiring homebrew functionality for your PS3. Please do not try to modify your PS3 unless you are fully aware of and understand the consequences and possible risks. </p>
 
	<p>If you understand the above, please download the patch via the button below.</p>


	<p style="text-align:center;"><a href="downloads/ToVPatcher-1.0.zip"><img src="images/Patch.png" /></a></p>
    <h2 style="text-align:center;"><a href="http://hyouta.com/vesperia/">No Patching Online Translation</a></h2><br/>

 	<h2>Issues, Bugs, and Troubleshooting</h2>

 	<p>If you are having trouble installing the patch or run into any issues with the patched game itself, please read our <a href="faq.htm">F.A.Q.</a> and <a href="http://a0t.co/forum/showthread.php?tid=806">Known Issues thread</a>. If the answers are not there, please ask in the thread or on our <a href="irc.htm">live IRC Chat</a>.</p>

	<p>If you find any errors or bugs, even minor ones like typos, please report them in <a href="irc.htm">the IRC chat</a> or <a href="http://a0t.co/forum/showthread.php?tid=806">the Known Issues thread</a>.</p>

	</div>

</div>


<div class="rotator">
    <img src="images/Rita.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Vesperia PS3 Fan Translation website. The patch is fully, 100% complete and now available for download!</p><p>Please take a look around, and join us on our IRC Chat to talk directly to the developers and the community.</p>
    </div>
    <div class="sidebar">&nbsp;</div>
    <div class="content-A">
    <h3>Purchase Links</h3>
    <p>The translation team gets a small portion of any sales made through these links.</p>
    <ul>
    <li><a href="http://www.play-asia.com/tales-of-vesperia-playstation-3-the-best-new-price-version-paOS-13-49-en-70-82gt.html?affiliate_id=921804" title="">Tales of Vesperia (PS3™)</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-lz-49-en-84-j-70-3o0z.html" title="">ToV PS3 Perfect Guide</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-lz-49-en-84-j-70-3nwj.html" title="">ToV PS3 Official Complete Guide</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-a7-49-en-84-j-70-3s52.html" title="">ToV - The First Strike</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-8l-49-en-84-j-70-2svg.html" title="">ToV OST</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-9x-49-en-84-j-70-3bya.html" title="">ToV Vol.1 Drama CD</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-184-49-en-84-j-70-41h9.html" title="">Yuri Plush Doll</a>
</li>
    </ul>
    </div>
    <div class="sidebar">&nbsp;</div>
    <div class="content-A">
    <h3>Releases</h3>
    <ul>
    <li><a href="downloads/ToVPatcher-1.0.zip">English Patch</a></li>
    <li><a href="http://hyouta.com/vesperia/">Online Translation Guide</a></li>
    </ul>
    </div>
</div>
</body>
</html>
