---
redirect_from: /irc.php/
---
{% include header.htm %}

<body>
&nbsp

{% include nav.htm %}

<div class="column-B">
    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="./"><img alt="home" border='0' src="images/Logo.png"></a>
    </div>
    <div class="content-B">
    <iframe style="width:99%; margin-bottom:24px;" src="http://webchat.freenode.net?channels=Graces&uio=MTE9MjI2dd" width="647" height="600"></iframe>
    <p style="text-align: center;">IRC Chat at #Graces on <a href="irc://irc.freenode.net/Graces">irc.freenode.net</a><p>

    </div>
</div>

<div class="rotator">
    <img src="images/Rita.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Vesperia PS3 Fan Translation website. The patch is fully, 100% complete and now available for download!</p><p>Please take a look around, and join us on our IRC Chat to talk directly to the developers and the community.</p>
    </div>
    <div class="sidebar">&nbsp</div>
    <div class="content-A">
    <h3>Active Team Members</h3>
    <ul>
    <li><a href="http://hyouta.com/">Pikachu025</a><i> - Coder and Project Lead</i></li>
    <li>ruta<i> - Translator, Editor</i></li>
    <li>Anonymous Chinchilla<i> - Translator, Editor</i></li>
    <li>Fedule<i> - Editor</i></li>
    </ul>
    </div>
    <div class="sidebar">&nbsp;</div>
    <div class="content-A">
    <h3>Supporting Members</h3>
    <ul>
    <li><a href="http://chronometry.ca">Tempus</a><i> - Producer, Web Design and Tools</i></li>
    <li><a href="http://www.blade2187.com/">Kajitani-Eizan</a><i> - Arcane Artist</i></li>
    <li><a href="http://a0t.co/">throughhim413</a><i> - Misc. Support</i></li>
    <li><a href="http://aaronlindsay.com">AerialX</a><i> - Tools, Coding, Web hosting</i></li>
    <li>gbcft<i> - Tools</i></li>
    </ul>
    </div>
    <div class="sidebar">&nbsp;</div>
</div>

</body>
</html>

