---
redirect_from: /news.php/
---
{% include header.htm %}

<body>
&nbsp;

{% include nav.htm %}

<div class="column-B">

    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="./"><img alt="home" src="images/Logo.png"></a>
    </div>

	{% for news in site.data.news %}
		<div class="content-B">
			<div class="avatar"><img src="/images/{{ news.image }}" /><p>{{ news.name }}</p></div>
			<div class="title">
				<div class="titlename">{{ news.title }}</div>
				<div class="titledate">{{ news.date }}</div>
			</div>
			<br />
			{{ news.content }}
			<div class="hbar">&nbsp;</div>
		</div>
	{% endfor %}


</div>


<div class="rotator">
    <img src="images/Rita.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Vesperia PS3 Fan Translation website.</p><p>A Definitive Edition of this game containing the PS3 content has been announced for Steam, Switch, PS4 and Xbox One. If you want to play this content, please buy the Definitive Edition and support the original developers.</p>
    </div>
</div>
</body>
</html>
