<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="images/favicon.png" />    
    <title>Tales of Vesperia PS3 English Translation Group</title>
    <link rel="stylesheet" type="text/css" href="images/graces.css" />

<!--[if IE 6]>
<style type="text/css">
img, div { behavior: url(images/iepngfix.htc) }
</style>
<script type="text/javascript" src="images/iepngfix_tilebg.js"></script>
<![endif]-->

<style>
#progress-complete {
height: 18px;
margin: 0px;

<!--[if lte IE 9]>
background: #EFF url(images/progress.png) top left repeat;
<![endif]-->
}
</style>

</head>