<div class="column-C">

    <div class="header-C">
    <a href="news.htm">News</a>
    </div>

    <div class="C-bar"></div>
    
    <div class="header-C">
    <a href="https://discord.gg/wWdnduP">Discord</a>
    </div>

    <div class="C-bar"></div>

    <div class="C-bar"></div>

    <div class="header-C">
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=SZNRDPNEADTAW&lc=CA&item_name=Tales%20of%20Graces%20Translation%20Team&item_number=Graces&currency_code=CAD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" title="Paypal Donation Link: The safer, easier way to pay online!.">Donate</a>
    </div>

    <div class="C-bar"></div>
</div>
